# **Notebook 03**
Perform the following operations on iris dataset
1. Display mean, median, minimum, maximum, standard deviation
2. Provide mean, median, minimum, maximum, standard deviation for a
given dataset by grouping using one of the qualitative (categorical)
variable
3. Display missing values and inconsistencies.
4. Replace missing values using any 2 suitable

In [2]:
import pandas as pd
import numpy as np
import statistics

In [3]:
df=pd.read_csv("iris.csv")

# 1. Display mean, median, minimum, maximum, standard deviation

In [4]:
data = df.groupby(["Species"])
# data.agg([np.sum, np.mean, np.max,np.std])
data.agg(["sum", "mean", "max","std"])

                   Id                       SepalLengthCm              \
                  sum   mean  max       std           sum   mean  max
Species
Iris-setosa      1275   25.5   50  14.57738         250.3  5.006  5.8
Iris-versicolor  3775   75.5  100  14.57738         296.8  5.936  7.0
Iris-virginica   6275  125.5  150  14.57738         329.4  6.588  7.9

                          SepalWidthCm                       PetalLengthCm  \
                      std          sum   mean  max       std           sum
Species
Iris-setosa      0.352490        170.9  3.418  4.4  0.381024          73.2
Iris-versicolor  0.516171        138.5  2.770  3.4  0.313798         213.0
Iris-virginica   0.635880        148.7  2.974  3.8  0.322497         277.6

                                      PetalWidthCm
                  mean  max       std          sum   mean  max       std
Species
Iris-setosa      1.464  1.9  0.173511         12.2  0.244  0.6  0.107210
Iris-versicolor  4.260  5.1  0.469911         66.3  1.326  1.8  0.197753
Iris-virginica   5.552  6.9  0.551895        101.3  2.026  2.5  0.274650

# 2. Provide mean, median, minimum, maximum, standard deviation for a given dataset by grouping using one of the qualitative (categorical) variable

In [5]:
df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
Iris-setosa        3.4
Iris-versicolor    3.0
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [7]:
data = df.groupby(["Species"])["SepalWidthCm"]
# data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
data.agg(["sum","min","max","std",statistics.mode,"median"])

                   sum  min  max       std  mode  median
Species
Iris-setosa      170.9  2.3  4.4  0.381024   3.4     3.4
Iris-versicolor  138.5  2.0  3.4  0.313798   3.0     2.8
Iris-virginica   148.7  2.2  3.8  0.322497   3.0     3.0

- **Purpose**: `agg()` is for applying aggregation functions to DataFrame columns.

- **Functions**: Accepts a list/dictionary of aggregation functions like `"sum"`, `"min"`, `"max"`, etc.

- **Flexibility**: Allows different functions on different columns or the same function on multiple columns.

- **Output**: Returns a Series or DataFrame based on the aggregation functions and columns.

- **Missing Values**: Excludes NaNs by default, adjustable with `skipna=False`.

- **Mode**: Not directly supported, use `mode()` separately.

- **Performance**: Consideration for large datasets; custom functions may impact performance.

- **Parameters**: Axis, numeric-only, min-count, etc., for customization.

- **Usage**: Useful for summarizing data, obtaining descriptive statistics.

In [6]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64