Perform the following operations using Python on Iris data set.

1.Load the Dataset into pandas data frame

2.Display information about missing values in the data

3.Display initial statistics

4.Check the dimensions of the data frame

5.Display data type of the variable

6.Apply proper data type conversion

7.Convert categorical variables into quantitative variables using one hotencoding and label encoder

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../Final/Datasets/Iris.csv")
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [3]:
df.isnull().head(2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0  False          False         False          False         False    False
1  False          False         False          False         False    False

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
df.ndim

2

In [7]:
df.shape

(150, 6)

In [8]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype("float16")

In [11]:
df.dtypes

Id                 int64
SepalLengthCm    float16
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [12]:
df['SepalWidthCm'] = df['SepalWidthCm'].round().astype('int64')

In [13]:
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.101562             4            1.4           0.2  Iris-setosa
1   2       4.898438             3            1.4           0.2  Iris-setosa

In [14]:
# 7.Convert categorical variables into quantitative variables using one hotencoding and label encoder

In [15]:
# one hot encoding

In [16]:
df_one_hot_encoded = pd.get_dummies(df, columns=['Species'])

In [18]:
df_one_hot_encoded.head(2)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.101562,4,1.4,0.2,True,False,False
1,2,4.898438,3,1.4,0.2,True,False,False

In [19]:
# label encoding

In [29]:
import sklearn.preprocessing as pp

In [30]:
encoder = pp.LabelEncoder()

In [32]:
df['Species'] = encoder.fit_transform(df['Species'])

In [33]:
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1       5.101562             4            1.4           0.2        0
1   2       4.898438             3            1.4           0.2        0

In [34]:
df.tail(2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
148  149       6.199219             3            5.4           2.3        2
149  150       5.898438             3            5.1           1.8        2